{% extends 'base.html'%} {% block content %}
<h1>To Do list using django</h1>
<div class="unlist">
  <ul>
    {% for todos in todo %}
    <li>
      {{todos.title}}
    </li>
    {% endfor %}
  </ul>
  <ul>
    {% for todos in todo %}
    <li>
      <a href="{% url 'todo-home-up' todos.id %}" class="btn">Update</a>
      <a href="{% url 'todo-home-del' todos.id %}" class="btn btn-delete">
        Delete</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
<form action="{% url 'todo-home' %}" class="input-form" method="POST">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" class="btn" value="Add" />
</form>
{% endblock %}
