* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  background-color: rgba(207, 207, 207, 0.3);
}
.container {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 1em;
  background-color: white;
  padding: 1em;
}
.container h1 {
  margin-bottom: 1em;
}

.unlist {
  display: flex;
  justify-content: space-evenly;
  padding: 3em 0;
  background-color: white;
  box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.226);
}
.unlist ul {
  padding: 0;
  width: 50%;
}
.unlist li {
  list-style-type: none;
  padding: 1em 0 1em 0;
}
.unlist li a {
  color: inherit;
  text-decoration: none;
  text-align: right;
}
.btn {
  background-color: transparent;
  padding: 0.5em;
  border: 2px rgb(5, 218, 218) solid;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(5, 218, 218);
  border: none;
  color: white;
  border: 2px rgb(5, 218, 218) solid;
}
.btn-delete {
  background-color: red;
  border: 2px red solid;
  color: white;
}
.btn-delete:hover {
  background-color: transparent;
  border: 2px red solid;
  color: black;
}
.unlist li:nth-child(odd) {
  background-color: rgba(194, 91, 194, 0.233);
}

.input-form {
  margin-top: 1em;
  justify-content: center;
  display: flex;
}
.input-form p input {
  height: 2em;
  outline: none;
  border: 1px grey solid;
}
.input-form .btn {
  margin-left: 0.5em;
}
